/* --------------------------------------------------
   Hero Section
-------------------------------------------------- */

.hero {
    text-align: center;
    margin-top: 55px;
}

.hero p {
    font-size: 18px;
}

.hero a {
    color: #6bbcff;
}

#projects-link {
    font-size: 20px;
    margin-top: 55px;
}

/* --------------------------------------------------
   Tech Stack
-------------------------------------------------- */

.tech-stack-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px;
}

.tech-stack-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0;
}

.tech-stack h2 {
    text-align: center;
}