/* style.css */

/* --------------------------------------------------
   Base Styles & Resets
-------------------------------------------------- */

body {
    background-image: linear-gradient(#131133 37%, #4a4a4e 150%, #acabab);
    background-attachment: fixed;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

/* --------------------------------------------------
   Typography
-------------------------------------------------- */

h1, h2, h3 {
    color: #6bbcff;
}

p {
    color: #b3c6ee;
}

li {
    color: #b6d7f2;
}

table {
    color: #b6d7f2;
}

/* --------------------------------------------------
   Header & Logo
-------------------------------------------------- */

.header {
    text-align: center;
    margin-top: -175px;
}

.header h1 {
    color: #6bbcff;
    font-size: 77px;
}

.header p {
    color: #6bbcff;
    font-size: 24px;
    margin-top: -25px;
}

#logo {
    margin-top: 50px;
    margin-left: 50px;
    width: 10%;
    height: auto;
}

/* --------------------------------------------------
   Navigation Bar
-------------------------------------------------- */

.navbar {
    width: 100%;
    background-color: #131133;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #131133;
}

.navbar li {
    flex: 1;
    text-align: center;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.navbar a:hover {
    background-color: #43a4f3;
    color: #131133;
}

/* --------------------------------------------------
   Footer
-------------------------------------------------- */

.footer {
    bottom: 0;
    margin-left: 25px;
}

.footer ul {
    margin-left: -20px;
}

.footer li{
    padding-bottom: 4px;
    padding-bottom: 4px;
    list-style-type: none;
}

.footer a {
    color: #228dbe;
}

.footer a {
    text-decoration: none;
    font-size: 16px;
}

#contact-me {
    text-decoration: underline;
    color: #2a69f0;
}