/* style.css */

body {
    background-color: #131133;
    margin: 20px;
}

#logo {
    margin-top: 50px;
    margin-left: 50px;
    width: 8%;
    height: auto;
}

#bio-name {
    color: #6bbcff;
    font-size: 77px;
}

#bio-title {
    color: #6bbcff;
    font-size: 24px;
    margin-top: -25px;
}

#header {
    text-align: center;
    margin-top: -200px;
}

h2, h3 {
    color: #6bbcff;
}

p {
    color: #b6d7f2;
}